body{
	width:100%;
	margin:auto;
	//height: 500px;
	background-color: #f2f2f2;
}

.contentArea{

    width: 80%;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    //min-height: 1000px;
    background-color: #fff;
    box-shadow: 0 5px 17px 0 rgba(0,0,0,.6);
}

.header{
    width: 100%;
}

.globalNav{
    //float left;
}

nav{
    
}
.headColor{
    background-color: #709928;
    width: 100%;
    height:50px;
    margin:auto;
}
#signUpError,#error{
    color:red;
    width: 100%;
    margin:auto;
}
#signup{
    text-align: left;
}

#signup p{
    text-align: center;
}

.userNav{
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
}

.userNav h3{
    font-size: 22px;
    line-height: 24px;
    //color: #646464;
    color:#6b6c69;
    margin-left: 30px;
}
.userNav ul{
    list-style-type: none;
}

.userNav ul li{
    margin-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    //color:#9b9b9b;  
    color: #337ab7; 
}

.userNav ul li a{
    //color: #337ab7;
    //font-size: 14px;
    font-size: 15px;
    text-decoration: none;
    //padding: 6px 0;
}
.userNav ul li a:hover{
    font-size: 17px;
    //color: #eee;
    border-bottom: 3px solid #337ab7;
}

@media only screen and (min-width: 750px) {
   
    .userNav ul li{
        //display: inline;
    }
}




.error{
    color:red;
}


footer{
    width: 100%;
    background-color: #F8F8F8;
    border-top:solid #E7E7E7 1px;
    text-align: center;
}

footer div{
    width:100%;
    margin:auto;
}


@media only screen and (max-width: 992px) {
    /* For mobile phones: */
    .contentArea{
        width: 100%;
    }
}


.bodyContent
{
	width: 100%;
	padding:50px;
}

.image
{
	height:150px;
	width:150px;
	background-color: gray;
}

.instruction
{
	width:100%;
}

.step
{
	padding:30px;
	font-size:16px;
}

.narrative
{
	width:100%;
	background-color: #E0E0E0;
    //height:480px;
	
}

/* ------------------------ CreateExam.php-------------------------*/


.fcChange{
    color:#555;
    background-color: #fff;
    border:1px solid #ccc;
}


#createExam{
    width: 80%;
    margin: auto;
}

#examStartTimeT , #duration{
    width: 60%;
    //margin:auto;
}

#examStartTimeT td, #duration td{
    padding-right: 10px;
    padding-bottom: 10px;
}


@media only screen and (max-width: 750px) {
   
    #createExam{
        width: 90%;
        margin: auto;
    }

    #examStartTimeT , #duration{
    width: 100%;
}
}
/* ------------------------ CreateExam.php End-------------------------*/


.allExamList
{
    width:80%;
    margin:auto;
}

#examList
{
    width:100%;
    margin:auto;
}


#questionGroup
{
    //width:100%;
}

#createQuestion{
    width: 80%;
    margin:auto;
}

#createQuestion table
{
    width: 80%;
}

#createQuestion table td,tr{
    padding: 10px;
}


#createQuestion table td:nth-child(2)
{
    //width: 
}

#joinExam{
    width:80%;
    margin:auto;
}

#examPage
{
    width:80%;
    margin:auto;    
}